@charset "utf-8";


/* id #   class . */

h1 {
    background-color: white;
    color :#9E4C00;
    text-align: center;
    
}

body {
    background-color: beige;
}

#p1 {
    color : red;
}


.listbox {
    background-color:darkkhaki;
}