:root {
    /* color   */
    --color-white- : #fff ;
    --color-white       : #fff; 
    --color-gray1       : #ccc;
    --color-gray2       : #aaa;
    --color-gray3       : #999;
    --color-gray4       : #777;
    --color-gray5       : #555;
    --color-gray6       : #333;
    --color-black       : #111; 
}