/* renewal_bhc smartphone-h 480~767 */
/* 480 */
@media screen and (min-width:480px) and (max-width:767px) {

  /* header ------------------------------------- */
  header {
      width: 100%;
      height: 70px;
      height: 14.58333333vw;
  }

      #headBox {
          width: 100%;
          height: 100%;
          padding: 10px 20px;
          padding: 2.083333vw 4.166667vw;
      }

      h1{
        width: 70px; height: 50px;
        height: 10.41667vw;
      }

      .nav_btn {
        float: right;
        width: 40px;
        height: 40px;
        height: 8.333333vw;
        line-height : 8.333333vw;
      }
      .main_menu {
        display: none;
      }

      .searchBox {
        float: right;
        width: 40px;
        height: 40px;
        height: 8.333333vw;
        margin-right: 10px;
      }

      .userBox {
        bottom:-20px; right: 20px;
        width: 90px;
        height: 40px;
        padding: 10px 10px;
      }
      .userBox:hover{
        bottom: -40px;
      }
      .login_ico {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

  /* adBox ----------------------------------------- */
  #adBox {
    width: 100%;
    height: 400px;
    height: 83.33333vw;
    padding-top: 80px;
    padding-top: 16.6667vw;
    margin-top: 30px;
    }
    .ad_area{
        width: 100%;
        height: 400px;
        height: 83.33333vw;
        padding: 200px 25px;
    }
    .ad_btn_before{
        width: 20px;
        height: 100px;
        height: 20.833333vw;
    }
    .ad_btn_next {
        width: 20px;
        height: 100px;
        height: 20.833333vw;
    }

  /* ckmenuBox ----------------------------------------- */

   #ckmenuBox {
    width: 80%;
    height: 400px;
    height: 111.111111vw;
    margin-top: 50px;
    padding: 20px 0;
    padding: 5.55556vw 0;
  }
  .order_area{
    height: 40px;
    height: 11.111111vw;
  } 
    .phone_order , .search_store {
      width: 80px;
      height: 40px;
      height: 11.111111vw;
      line-height: 40px;
      line-height: 11.111111vw;
    }

  #ckmenu_area {
    width: 100%;
    height: 300px;
    height: 83.33333vw ;
    margin-top: 20px;
    padding: 50px 20px;
  }

   .ckmenu_list {
     width: 70%;
     height: 200px;
     height: 55.555555vw;
   }
   .ckmenu_list > ul > li {
    width: 100%;
   }

   .ckmenu_list > ul > li:nth-child(2){
    display: none;
  }
  .ckmenu_list > ul > li:nth-child(3){
     display: none;
   }
   .ck_btn_before {
    width: 20px;
    height: 80px;
    height: 22.22222vw;
    margin-top: 80px;
    margin-top: 22.2222vw;
   }
   .ck_btn_next {
    width: 20px;
    height: 80px;
    height: 22.22222vw;
    margin-top: 80px;
    margin-top: 22.2222vw;
   }

  /* bhc_info---------------------------------------------- */
  #bhc_info {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-top: 10.41667vw;
  }
  /* notice_area ----------------------------------------- */
  #notice_area {
    width: 80%;
    height: 300px;
    height: 62.5vw;
    margin-top: 100px;
    margin-top: 20.41667vw;
  }


  footer {
    width: 100%;
    height: 150px;
    height: 31.25vw;
    margin-top: 50px;
    margin-top: 10.41667vw;
  }
}
