/* 
:root {
} */

/* 제목  */
h1{
    background-color: #333;
    color: #fff;
    text-align: center;
    text-shadow : 2px 2px 1px #333;
    border-radius: 20px;
    box-shadow:     
    6px 6px 6px rgba(0,0,0,0.15),
    -6px -6px 6px rgba(255,255,255,0.6),
    inset 2px 2px 5px rgba(0,0,0,0.03),
    inset -2px -2px 5px rgba(255,255,255,0.4);;
}
/* 밑줄 */
hr {
    width: 80%;
}

.boder{ 
    margin: auto;
    width: 300px;
    width:18.75rem;
    background:#fff; 
    border-radius:8px; 
    box-shadow:2px 1px 3px rgba(0,0,0,0.3); 
}

p {
    height:0;
    margin: 0px;
    overflow:hidden;
    /* transition:all 200ms linear; */
}

h3 {
    font-size:1em;
}

p a {
    text-decoration:none;
    color : #333;
}

a h3{
    height:23px; 
    line-height:23px;
    background:linear-gradient(#eee, #ccc); 
    color:#333; 
    text-decoration:none; 
    text-align:center; 
    text-shadow:0 1px 0 rgba(255,255,255,.5); 
    border-bottom:1px solid #aaa; 
}

:target + p {
    padding:10px 15px; 
    border-bottom:1px solid #ccc;
}

#test {
    text-decoration:none;
    border-radius:2px 2px 0 0;
}
#test:target + p{ height: auto;}


#study {    
    text-decoration:none;
    border-radius: 3px 3px 0 0;
}
#study:target + p { height: auto;}

#project {
    text-decoration:none;
    border-radius: 3px 3px 0 0;
}
#project:target + p { height: auto;}

#javascript {
    text-decoration:none;
    border-radius: 3px 3px 0 0;
}
#javascript:target + p {height: auto;}


a:hover, a:focus { opacity:0.5; } 

a:active { background:linear-gradient(#ccc, #ddd); color:#000; }



abbr {
    border-bottom: none;
    text-decoration: none;
    cursor: inherit;
}

#timer{ width: 330px; height: 20px;
    margin: auto; 
    border:1px solid ; 
    background-color: #222; 
    color:#ccc;
    text-shadow: .5px .5px .5px #fff;
    text-align: center;
}


#canvas {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}