@charset "UTF-8";



/* 시멘틱태그 제목 */
h2 {
    display: none;
}

/* header =======================*/
header{
    width: 100%;
    min-width: 980px;
    height: 80px;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo img */
h1 {
    width: auto;
    height: auto;
}

header #search {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    background-color: #ddd;
}

header #login {
    width: 100px;
    height: 40px;
    background-color: #888;
}


/* nav ======================= */
nav{
    width: 100%;
}

#mainmenu {
    width: 100%;
    height: 60px;
    background-color: #4d4d4d;
    margin: auto;
    overflow: hidden;
    margin-bottom: 60px;
    text-align: center;
}

#mainmenu ul{
    width: 120px;
    height: 60px;
    background-color: #333;
    margin-right: 40px;
    display: inline-block;
    text-align: center;
    font-size: 23px;
    line-height: 60px;
}

#mainmenu ul li {
    display: none;
    overflow: hidden;
}



/* section id =======================*/
.eventbox {
    width: 1380px;
    height: 400px;
    background-color: #777;
    margin: auto;
    margin-bottom: 60px;
}

.ckmenu {
    width: 1380px;
    height: 400px;
    background-color: #888;
    margin: auto;
    margin-bottom: 60px;
}

.notice {
    width: 1380px;
    height: 300px;
    background-color: #555;
    margin: auto;
    margin-bottom: 60px;
}

.sns {
    width: 1380px;
    height: 250px;
    background-color: #888;
    margin: auto;
    margin-bottom: 60px;
}

aside {
    width: 100px;
    height: 300px;
    position: fixed;
    right: 5%;
    top: 180px;
    background-color: #aaa;
}



/* footer =======================*/
footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    margin: 0;
}

