@charset "UTF-8";

/* reset */
html,body,h1,h2,h3,h4,h5,h6,p,pre,div,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; outline: 0;}


header {
    height: 150px;
    background-color: #4d4d4d;
    margin-bottom: 10px;
}

/* section id */
.eventbox {
    width: 1380px;
    height: 400px;
    background-color: #777;
    margin: auto;
    margin-bottom: 10px;
}

.ckmenu {
    width: 1380px;
    height: 400px;
    background-color: #888;
    margin: auto;
    margin-bottom: 10px;
}

.notice {
    width: 1380px;
    height: 300px;
    background-color: #555;
    margin: auto;
    margin-bottom: 10px;
}

.sns {
    width: 1380px;
    height: 250px;
    background-color: #888;
    margin: auto;
    margin-bottom: 10px;
}

aside {
    width: 100px;
    height: 300px;
    position: fixed;
    right: 5%;
    top: 180px;
    background-color: #aaa;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    margin: 0;
}

