/* ~479px ------------------------------------------------------ */
@media screen and (max-width:479px) {
  /* vw 단위 기준 : 320px */

    
  html,body {
    width: 100%;
    min-width: 320px;

    /* 주의 : 글씨가 같이 작아지기 때문에 가독성에 문제가있음 , 아이폰(애플)기기는 min-width 기능이 사용불가 */
  }

    #wrap {
      height:500px;
      background-color: #0cf;
    }

    
    #headBox{
      position: fixed; top: 0; left: 50%; z-index: 9999;
      transform: translateX(-50%);
      width:100%; 
      overflow-x: auto;
      height: 40px; height: 2.5rem; height:12.5vw; 
      min-height: 40px;
      padding: 5px 1.55rem; box-sizing: border-box;
      background-color: #333; 
    }

    .headBox_con {
      width: 100%; height: auto;
      min-width: 320px;
    }

    h1{
        width: 100px;
        height: 30px;
        float: left;
        background-color: #fff;
    }
    #navBox {
        width: 60px;
        height: 25px;
        float: right;
        background-color: #fff;
    }

    .search_area {
        float: left;
        width: 24px; height: 25px;
        background-color: #33b88f;
    }
    .gnb_area {
        float: right;
        width: 30px; height: 25px;
        background-color: #33b88f;
    }
    /* viewBox----------------------------------------------- */
    #viewBox{
      width:100%; height:480px; height:30rem; height:150vw;
      min-height: 30rem;
      padding-top: 12.5vw; box-sizing: border-box;
      background-color: #bbaa77;
    }
    .indicator {
      display: none;
    }

    /* ----------------------------------------------- */
    #contentBox{
      width:100%; height:480px;height:30rem; height:150vw;
      min-height: 30rem;
      padding: 24px 16px;
      padding: 1.5rem 1rem;
      box-sizing: border-box;
      background-color: #547d77;
    }
    .title_shape {
      width: 192px; height: 156px;
      width: 12rem; height: 9.75rem;
      background-color: #33b88f ;
    }
    /* ----------------------------------------------- */
    #infoBox{
      width:100%; height:auto;
      background-color: #33b88f;
    }
      .new_area {
        width: 100%; height: 480px;
        background-color: #957de9;
      }
      .notice_area {
        display: none;
      }
    /* ----------------------------------------------- */
    #footBox{
      width:100%; height:40px;
      background-color: #333;
    }
    /* ----------------------------------------------- */
  
  }/* @media screen and (max-width:479px) */