@media screen and (min-width:480px) {
   
html , body {
    width: 100%;
    min-width: 480px;
}    

#haedBox {
    width: 100%;
    height: 100px;
    
}

#viewBox {
    
}

#infoBox {

}

#openBox {

}

#eventBox {

}

#galleryBox {

}

#noticeBox {

}

#mapBox {

}

#fmlySite {

}

#footBox {

}

}