:root {
    --wihte-color- : #fff;
    --gray_001-color- : #ccc;
    --gray_002-color- : #aaa;
    --gray_003-color- : #999;
    --gray_004-color- : #777;
    --gray_005-color- : #555;
    --gray_006-color- : #333;
    --gray_007-color- : #111;
}