/* phone_h : 480~767 */
/* css/resto/phone_h.css */

@media screen and (min-width:480px) and (max-width:767px){
  /* design 기준 : 480px */

  /* #wrap ----------------------- */
  #wrap {
    --headHeight:4rem; 
  }

  /* #headBox ----------------------- */
  /* #headBox {} */
  #headBox .container {
    padding: 10px 20.8px 0;
    padding: 0.625rem 1.3rem 0;
  }
  h1 {
    width: 80px; height: 50px;
    width: 5rem; height: 3.125rem;
  }
  #naviBox {
    width: 38px; height: 25px;
    width: 2.375rem; height: 1.5625rem;
    margin-top: 10px; margin-top: 0.625rem;
  }


  /* #naviBox ----------------------- */
  /* #naviBox { } */

  /* #viewBox ----------------------- */
  #viewBox {
    width: 100%; height: 36.5rem; 
  }

  /* #discoverBox ----------------------- */
  #discoverBox {
    height: 108.4375rem;
  }
  .our_store {
    width: 100%; height: 750px; padding: 84px 1rem;
    box-sizing: border-box;
  }
  .store_area {
    overflow: hidden;
    width: 100%; height: 510px;
    background-color:var(--color-gray1);
    
  }

  .store_area > ul {
    width: 300%; height: 100%;
    /* background-color: #fa0; */
    margin-left: -100%;
  }

  .store_area > ul > li {
    float: left;
    width: 33.333333%;  width: calc(100% / 3); height: 100%;
  }

  
  .store_area > ul > li:nth-child(1) {background-color: blue;}
  .store_area > ul > li:nth-child(2) {background-color: red;}  
  .store_area > ul > li:nth-child(3) {background-color: green;}

  .front {
    width: 100%; height: 100%; background-color: var(--color-gray3);
    padding: 2rem; box-sizing: border-box;
    font-size: var(--font-size2);
    opacity: 1;
    transition:all 200ms ease;
    overflow: hidden;
  }
  .store_area > ul > li:hover > .front {
    opacity:0;
    height:0;
    padding:0 2rem;
  }

  .our_service {
    width: 100%; height: 985px; 
    border-top: 1px solid #333;
  }

  /* #guideBox ----------------------- */
  #guideBox {
    width: 100%; height: 51.875rem;
    background-color: var(--color-gray4);
  }

  /* #eventBox ----------------------- */
  #eventBox {
    width: 100%; height: 147.625rem;

  }
  /* #galleryBox ----------------------- */
  #galleryBox {
    width: 100%; height: 103.125rem;

  }

  /* #chefBox ----------------------- */
  #chefBox {
    width: 100%; height: 54.1875rem;

  }

  /* #locationBox ----------------------- */
  #locationBox {
    width: 100%; height: 29.375rem;

  }

  /* #restoInfoBox ----------------------- */
  #restoInfoBox {
    width: 100%; height: 47.25rem;

  }

} /* @media screen 480~767 */
